:root {
--main-font-family: 'Roboto', sans-serif;
--primary-color: #2c2c2c;
--secondary-color: #bbf330;
--accent-color-yellow: #ffe450;
--background-color: #fefefe;
--tertiary-color: #7EB101;
--transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
}

.link {
text-decoration: none;
color: var(--primary-color);
}


button {
    cursor: pointer;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: var(--main-font-family);
    color: var(--primary-color);
    background-color: var(--background-color);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 320px) {
.container {
    width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

/* ----------------- MOBILE ----------------- */
/* ----------------- COMPONENTS ----------------- */
.menu-link,
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-color);
    transition: color var(--transition-dur-and-func);
}

.current-link {
    color: var(--secondary-color);
    text-decoration-line: underline;
    font-weight: 700;
}

.menu-link:hover,
.menu-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 16px;
}

/* ----------------- /COMPONENTS ----------------- */

/* ----------------- HEADER ----------------- */
@media screen and (max-width:767px) {
    .menu-list {
        display: none;
    }

    .btn-hidden {
        display: none;
    }

    .favorite-container-right-side {
        display: none;
    }
}
.page-header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--background-color);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    height: 52px;
}
.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    fill: var(--tertiary-color);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: absolute;
    top: 50px;
    right: 6.25%;
    width: 130px;
    min-height: 255px;
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    border: none;
    background-color: transparent;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.mobile-menu-link {
    font-size: 16px;
    line-height: 1.18;
}

.menu-current-link {
    color: #A7CE47;;
}
/* ----------------- /HEADER ----------------- */

/* ----------------- FAVORITE ----------------- */
.main-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 28px;
}

.section-description-favorite {
    max-width: 266px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 28px;
}

.modal-open-btn {
    padding: 6px 18px;
    min-width: 98px;
    height: 32px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    transition: background-color var(--transition-dur-and-func);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--accent-color-yellow);
}
/* ----------------- /FAVORITE ----------------- */

/* ----------------- OFFERINGS ----------------- */
.offerings {
    background-color: #ffe550;
}

.container-offerings {
    display: flex;
    flex-direction: column;
}

.offerings-img-apple {
    padding: 12px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-bottom: 60px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 27px;
}

.section-description-offerings {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 28px;
}

.offerings-icon-wrapper {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.offerings-icon {
    fill: var(--tertiary-color);
}

.suptitle {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.offerings-item {
    margin-bottom: 28px;
}

.offerings-item:last-child {
    margin-bottom: 40px;
}

.section-description-sec-offerings {
    font-size: 14px;
    line-height: 1.14;
}

.offering-btn-link-wrapper {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.offerings-modal-open-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 22px;
    min-width: 106px;
    height: 40px;
    border: 2px solid var(--tertiary-color);
    border-radius: 30px;
    background-color: #fff;
}

.offerings-modal-open-btn:hover,
.offerings-modal-open-btn:focus {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.offerings-link {
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-decoration: none;
}
/* ----------------- OUR-FAVORITES ----------------- */
.our-favorites-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.our-favorites-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 11px solid var(--accent-color-yellow);
    border-radius: 50%;
    padding: 18px 17px;
    transition: border-color var(--transition-dur-and-func);
}

.favorites-img-hidden {
    display: none;
    border: none;
}

.our-favorites-img:hover,
.our-favorites-img:focus {
    border-color: var(--secondary-color);
}

.title-center {
    text-align: center;
}

.section-description-favorites {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin-bottom: 60px;
}
/* ----------------- /OUR-FAVORITES ----------------- */

/* ----------------- /MOBILE ----------------- */

/* ----------------- TABLET ----------------- */
@media screen and (min-width: 768px) {
/* ----------------- HEADER ----------------- */
.menu-list {
    display: none;
}

.mobile-menu-open-btn {
    display: none;
}

.page-header-container {
    justify-content: start;
}

.logo-link {
    margin-right: auto;
}

.menu-list {
    display: flex;
    column-gap: 28px;
    margin-right: 30px;
}
/* ----------------- HEADER ----------------- */

/* ----------------- FAVORITE ----------------- */
.container-favorite {
    position: relative;
}
.main-title {
    width: 468px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
}

.section-description-favorite {
    max-width: 336px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.favorite-img {
    position: absolute;
    top: 50px;
    right: 32px;
    border: 14px solid var(--accent-color-yellow);
    border-radius: 50%;
    padding: 0;
}
/* ----------------- /FAVORITE ----------------- */

/* ----------------- OFFERINGS ----------------- */
.container-offerings {
    background-image: url(../images/offerings/apple-bg.png);
    background-repeat: no-repeat;
    background-position: 424px 91px;
}

.offerings-list {
    display: flex;
    column-gap: 116px;
    margin-bottom: 63px;
}


.offerings-link {
    display: none;
}

.title {
    max-width: 426px;
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 20px;
}

.section-description-offerings {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 40px;
}
/* ----------------- /OFFERINGS ----------------- */

/* ----------------- OUR-FAVORITES ----------------- */
.our-favorites-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.our-favorites-item {
flex-basis: calc((100% - 32px)/2);
max-width: 336px;
}

.our-favorites-img {
    border: 14px solid var(--accent-color-yellow);
    padding: 20px;
}

.favorites-img-hidden {
    display: flex;
}

.title {
    margin-right: auto;
    margin-left: auto;
}

.section-description-favorites {
    font-size: 16px;
    line-height: 1.18;
}

/* ----------------- /OUR-FAVORITES ----------------- */

}
/* ----------------- /TABLET ----------------- */

/* ----------------- DESKTOP ----------------- */
@media screen and (min-width: 1280px) {
/* ----------------- HEADER ----------------- */
/* ----------------- /HEADER ----------------- */

/* ----------------- FAVORITE ----------------- */
.section {
    padding-top: 27px;
    padding-bottom: 27px;
}

.main-title {
    width: 456px;
    font-size: 48px;
    line-height: 1.2;
    margin-top: 150px;
    margin-bottom: 28px;
}

.section-description-favorite {
    max-width: 489px;
    margin-bottom: 46px;
}
.container-favorite {
    display: flex;
    justify-content: space-between;
}

.favorite-img {
    position: static;

}
/* ----------------- /FAVORITE ----------------- */

/* ----------------- OFFERINGS ----------------- */
.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-offerings {
    display: flex;
    flex-direction: row;
    column-gap: 126px;
    background-image: none;
}

.title {
    line-height: 1.2;
}

.offerings-list {
    margin-bottom: 58px;
}
/* ----------------- /OFFERINGS ----------------- */

/* ----------------- OUR-FAVORITES ----------------- */
.our-favorites-item {
    flex-basis: calc((100% - 64px)/3);
    max-width: 394px;
}

.our-favorites-img {
    border: 16px solid var(--accent-color-yellow);
    padding: 25px 24px;
}

.title {
    margin-right: auto;
    margin-left: auto;
}

.section-description-favorites {
    font-size: 16px;
    line-height: 1.18;
}

/* ----------------- /OUR-FAVORITES ----------------- */
}
/* ----------------- /DESKTOP ----------------- */
/* .page-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--background-color);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: auto;
}

.menu-list {
    display: flex;
    column-gap: 28px;
    margin-right: 30px;
} */
/* ----------------- /HEADER ----------------- */
/* ----------------- FAVORITE ----------------- */
/* .favorite {
    padding: 27px 0;
}

.container-space-around {
    display: flex;
}

.favorite-container-right-side {
    margin-left: 172px;
    border: 14px solid var(--accent-color-yellow);
    border-radius: 300px;
    padding: 17px;
}

.section-description-favorite {
    max-width: 514px;
    margin-bottom: 28px;
} */
/* ----------------- /FAVORITE ----------------- */
/* ----------------- OFFERINGS ----------------- */
/* .offerings {
    background-color: var(--accent-color-yellow);
}

.offerings-container-left-side {
    margin-right: 126px;
}

.offerings-img-apple {
    padding: 0 24px 24px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.offerings-container-right-side {
    margin-top: 26px;
}

.section-description-offerings {
    margin-bottom: 40px;
    width: 500px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.section-description-offerings-width {
    width: 253px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 58px;
}

.offerings-width {
    max-width: 253px;
}

.offerings-list {
    display: flex;
    align-items: center;
    column-gap: 67px;

}

.offerings-icon-wrapper {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.offerings-icon {
    fill: var(--tertiary-color);
}

.offerings-modal-open-btn {
    min-width: 106px;
    height: 40px;
    padding: 10px 22px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 2px solid var(--tertiary-color);
    transition: background-color var(--transition-dur-and-func);
}

.offerings-modal-open-btn:hover,
.offerings-modal-open-btn:focus {
    background-color: var(--secondary-color);
} */
/* ----------------- /OFFERINGS ----------------- */
/* ----------------- OUR-FAVORITES ----------------- */
/* .title-center {
    text-align: center;
}

.section-center {
    text-align: center;
    margin-bottom: 36px;
}

.our-favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.our-favorites-item {
    border: 15px solid var(--accent-color-yellow);
    border-radius: 197.5px;
    padding: 24px;
    transition: border-color var(--transition-dur-and-func);
}

.our-favorites-item:hover,
.our-favorites-item:focus {
    border-color: var(--secondary-color);
} */
/* ----------------- /OUR-FAVORITES ----------------- */
/* ----------------- CUSTOMERS ----------------- */
/* .customers {
    background-color: var(--accent-color-yellow);
}

.customers-list {
    display: flex;
    column-gap: 140px;
    row-gap: 32px;
}

.customers-list-container {
    background-image: url(../images/customers-say/Stars.jpg);
    background-repeat: no-repeat;
    background-size: 101px 16px;
    background-position: 14px 14px;
    margin-top: 32px;
    background-color: var(--background-color);
    max-width: 501px;
    height: 227px;
    border-radius: 0px 30px 30px 30px;
}

.description-mt {
    margin: 58px 14px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
}

.customers-item-container-left,
.customers-item-container-right {
    display: flex;
    margin-left: 14px;
    margin-right: 16px;
}

.customers-item-text {
    margin-left: 16px;
    padding-right: 14px;
    border-right: 1px solid var(--tertiary-color);
}

.suptitle-mb {
    margin-bottom: 2px; pa
} */
/* ----------------- /CUSTOMERS ----------------- */
/* ----------------- OFFERS ----------------- */
/* .section-padding {
    padding-top: 89px;
    padding-bottom: 88px;
}

.offers-container-left {
    margin-top: 11px;
}

.offers-title-marginbot {
    margin-bottom: 50px;
}

.section-description-margin {
    margin-bottom: 54px;
}

.offers-text-container {
    display: flex;
}

.offers-form-input {
    min-width: 326px;
    margin-right: 21px;
    padding: 12px 57px 12px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 0.854167px solid var(--accent-color-yellow);
    border-radius: 30px;
    transition: border-color var(--transition-dur-and-func);
}

.offers-form-input:focus {
    outline: none;
    border-color: var(--tertiary-color);
}

.offers-form-input::placeholder {
    color: #505050;
}

.modal-open-btn-sub-green {
    padding: 11px 22px;
    min-width: 103px;
    height: 42px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-family: var(--main-font-family);
    background-color: var(--secondary-color);
    transition: background-color var(--transition-dur-and-func);
}

.modal-open-btn-sub-green:hover,
.modal-open-btn-sub-green:focus {
    background-color: var(--accent-color-yellow);
} */
/* ----------------- /OFFERS ----------------- */
/* ----------------- FOOTER ----------------- */
/* .footer {
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
    background-image: url(../images/footer/fruits.jpg);
    background-repeat: no-repeat;
    background-size: 1380;
    background-position: 50% 100%;
}

.footer-big {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    column-gap: 28px;
}

.logo-link-footer {
    margin-right: 148px;
}

.footer-list-second {
    display: flex;
    margin-top: 80px;
    column-gap: 20px;
}

.title-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.footer-container-second {
    display: flex;
}

.footer-container-left {
    display: flex;
    align-items: center;
    height: 52px;

}

.footer-item-display {
    display: flex;
}

.footer-item-right {
    margin-left: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.section-description-footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
}

.footer-form {
    margin-bottom: 12px;
}
.footer-form-input {
    width: 279px;
    margin-right: 21px;
    padding: 12px 61px 12px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-color);
    border: 0.854167px solid rgb(255, 229, 82);
    border-radius: 30px;
    transition: border-color var(--transition-dur-and-func);
}

.footer-form-input:focus {
    outline: none;
    border-color: var(--tertiary-color);
}

.footer-form-input::placeholder {
    color: #505050;
}

.modal-open-btn-sub {
    min-width: 103px;
    height: 42px;
    padding: 11px 22px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 2px solid var(--tertiary-color);
    transition: background-color var(--transition-dur-and-func);
}

.modal-open-btn-sub:hover,
.modal-open-btn-sub:focus {
    border: 2px solid var(--accent-color-yellow);
}

.current-link-footer {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
text-decoration-line: underline;
color: var(--secondary-color);} */
/* ----------------- /FOOTER ----------------- */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 99, 99, 0.7);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 458px;
    height: 449px;
    background-color: var(--accent-color-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}

.modal-close-btn {
    padding: 10px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: var(--background-color);
    transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--secondary-color);
    fill: var(--background-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.modal-form-field-desc { 
    display: block;
    margin-bottom: 2px;
    margin-left: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-color);
}

.modal-form-field-wrapper {
    margin-bottom: 24px;
    display: block;
}

.modal-form-margbot {
    margin-bottom: 10px;
}


.modal-form-input {
    padding-left: 12px;
    width: 100%;
    height: 48px;
    background-color: var(--background-color);
    border: 1px solid rgba(18, 18, 18, 0.12);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    color: var(--primary-color);
    transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus,
.modal-form-input:valid {
    outline: none;
    border-color: var(--tertiary-color);
}

.modal-form-input::placeholder {
    color: #c4c4c4;
}

.modal-form-checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-color);
    margin-left: 12px; 
    margin-bottom: 20px;
}

.modal-form-checkbox {
    appearance: none;
    position: absolute;
}

.modal-form-own-checkbox {
    padding: 1px;
    margin-right: 6px;
    border: 1px solid var(--tertiary-color);
    border-radius: 3px;
    cursor: pointer; 
    
}

.modal-form-checkbox:focus + .modal-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 0, 0.5);;
}

.modal-form-checkmark-icon {
    opacity: 0;
    transition: fill var(--transition-dur-and-func), opacity var(--transition-dur-and-func);;
}

.modal-form-checkbox:checked + .modal-form-own-checkbox .modal-form-checkmark-icon {
    opacity: 1;
    fill: var(--tertiary-color);
}

.modal-send-btn {
    display: block;
    margin: 0 auto;
    min-width: 106px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: var(--primary-color);
    background: #FFFFFF;
    border: 2px solid var(--tertiary-color);
    border-radius: 30px;
    transition: background-color var(--transition-dur-and-func);
}

.modal-send-btn:focus,
.modal-send-btn:hover {
    background-color: var(--secondary-color);
    border: none;
} */